@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://localhost:44313/Projects/Index">Projects</a>.</p>
    <p> <a href="https://localhost:44313/Teams/Index">Teams</a>.</p>
    <p> <a href="https://localhost:44313/Employees/Index">Employees</a>.</p>
    <p> <a href="https://localhost:44313/Positions/Index">Positions</a>.</p>
    <p> <a href="https://localhost:44313/Genres/Index">Genres</a>.</p>
    <p> <a href="https://localhost:44313/Types/Index">Types</a>.</p>
</div>
